<div class='block'>
	<div class='content'>
		<h1 class='without-avatar'>Vous avez perdu votre mot de passe ?</h1>
{% if form.vars['errors'] is not empty %}
		<p class='error'>{{ form_errors(form) }}</p>
{% endif %}
		<p class='error'>{{ msg }}</p>
		<p>Rentrez votre adresse e-mail ci-dessous : nous vous enverrons alors le formulaire automatique pour confirmer votre identité et réinitialiser votre mot de passe.</p>
		<form action="{{ path('login-lost-password') }}" method="post" id="lost">
		<table class='small-block'>
			<tr>
		    	<th>Votre adresse e-mail :</th>
		    	<td>{{ form_widget(form.email) }}</td>
		    	<td><input type="submit" value="Envoyer" class="btn-style right" /></td>
			</tr>
		</table>
		{{ form_rest(form) }}
		</form>
	</div>
</div>
<script>
$('#lost input').animate({width: '300px'});
$('#lost').submit(function (event) {
	event.preventDefault();
	$("input[type=submit]").attr("disabled", "disabled");
	$("#loading").show();
	$.ajax({
		url: "{{ path('login-lost-password') }}",
		type: 'POST',
		data: $(this).serialize(),
	})
	.done(function (data) {
		$("#center").empty().append(data);
		$("#loading").hide();
	})
	.fail(function (xhr, status, error) {
		console.log(xhr.responseText);
	});
});
</script>