<div class='block'>
	<div class='content' id='club'>
		<h1 class='without-avatar'>Voici tous les évènements proposés par vos MommyClubs</h1>
		<table>
			{% for date in dates %}
			<tr data-id='{{ date.id }}' class='club-date'>
				<td rowspan='3'>
					{% if date.club.photo|length > 0 %}
					<img src='{{ date.club.photo }}' />
					{% else %}
					<img src='/img/logos/mv-landeau-1000x1077.jpg' />
					{% endif %}
				</td>
				<th>{{ date.club.name }}</th>
			</tr>
			<tr data-id='{{ date.id }}'>
				<th>{{ date.name }}</th>
			</tr>
			<tr data-id='{{ date.id }}'>
				<td>{{ date.date|date("d/m/Y") }}</td>
			</tr>
			<tr data-id='{{ date.id }}'>
				<td>{{ date.desc_fr }}</td>
				<td>{{ date.address.literal }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<script>
$(".club-date").click(function (event) {
	event.preventDefault();
	$("#loading").show();
	$.ajax({
		url: '/club/date/'+$(this).attr('data-id'),
		type: 'GET',
	})
	.done(function (data) {
		$("#center").empty().append(data).fadeIn('slow');
		$("#loading").hide();
	})
	.fail(function (xhr, status, error) {
console.log(xhr.responseText);
		validationDialog(xhr.responseText, '');
		$("#loading").hide();
	});
});
</script>