<div class='block'>
<div class='content'>
<div class='right' id='summary'>
	<h2>Accès rapide :</h2>
	<ol>
		<li><a href="#pourquoi">Pourquoi MommyVille ?</a></li>
		<li><a href="#pour_qui">Pour qui ?</a></li>
		<li><a href="#comment">Comment ça marche ?</a></li>
		<li><a href="#a_quoi">A quoi ça sert ?</a></li>
		<li><a href="#cest_qui">MommyVille c'est qui ?</a></li>
		<li><a href="#recrute">On recrute ?</a></li>
		<li><a href="#questions">D'autres questions ?</a></li>
	</ol>
</div>
<div class='with-summary'>
<h1 class='without-avatar'>Qui sommes-nous ?</h1>
<p></p>
<span class="anchor" id="pourquoi"></span>
<h2>Pourquoi MommyVille ?</h2>
<p></p>
<p>Créé en 2014, MommyVille a pour but de mettre en contact des jeunes mamans et des futures mamans qui ont envie de se connecter et de rencontrer des mamans qui leur ressemblent selon des critères qu'elles choisissent elles-mêmes. Fini les forums anonymes, les groupes des réseaux sociaux généraux ouverts : vous ne trouverez sur MommyVille que des mamans ou des mamans en devenir qui ont choisi de se parler et de se rencontrer, dans un esprit d'entraide et de bienveillance.</p>
<p></p>
<span class="anchor" id="pour_qui"></span>
<h2>Pour qui ?</h2>
<p></p>
<p>Pour toute femme qui s'embarque dans l'aventure magnifique du devenir et être mère: dès le désir d'enfant, la grossesse, la maternité, ou même si vous enfants sont grands : toutes les mamans sont les bienvenues sur MommyVille.<p>
</p>Nous créerons bientôt un espace identique réservé aux papas.</p>
<p></p>
<span class="anchor" id="comment"></span>
<h2>Comment ça marche ?</h2>
<p></p>
<p>Sur MommyVille, vous créez dès votre première connexion un profil qui définit la maman et la femme géniale que vous êtes et vous propose de rentrer en contact avec des mamans selon des critères que vous choisissez vous-même… même quartier, même langue, même profil famille, même job, c'est vous qui décidez !</p>
<p></p>
<span class="anchor" id="a_quoi"></span>
<h2>A quoi ça sert ?</h2>
<p></p>
<p>Chez MommyVille, vous pouvez créer un ou plusieurs MommyClubs à votre image pour vous et vos nouvelles MommyFriends, ou rejoindre un MommyClub déjà créé par un autre membre, référencer vos boutiques préférées, partagez vos billets de blog, découvrir tous les jours une news pertinente, répondre aux questions des membres, poser des questions, partager vos coups de cœur, vos coups de blues, vos joies et vos peines. C'est votre espace !</p>
<p></p>
<h2>Mais alors, qui paie ?</h2>
<p></p>
<p>Personne !</p>
<p>Aucun membre ne paie pour s'inscrire et utiliser le site. MommyVille est, sera et restera toujours totalement gratuit pour les mamans, que vous y passiez 3 heures par jour ou 2 minutes par mois. C'est votre espace, c'est votre maison en ligne, votre e-canapé : il faut juste que vous y soyez bien, que vous soyez confortablement installée, et que vous vous y plaisiez !</p>
<p>Notre seul but c'est ça !</p>
<p></p>
<span class="anchor" id="qui_paie"></span>
<h2>Non, mais sérieusement, qui paie ?</h2>
<p></p>
<p>Les prestataires qui proposent leurs services et les boutiques qui proposent des objets à la vente via le MommyShop versent une toute petite commission à MommyVille sur les ventes effectuées. Mais uniquement si vous décidez d'avoir recours à leurs services. Si vous n'avez besoin de rien et envie de ne rien acheter, rien ne vous y force. Pas de pop-up, pas de spam, pas d'offre bizarroïdes. Nous ne sommes pas un site de vente, nous voulons juste vous offrir la possibilité de trouver des services si vous en avez besoin. Encore une fois, c'est vous qui décidez.</p>
<p>Et il y a aussi un peu de pub sur le site, ce qui nous permet de vivre et de payer nos supers graphistes, développeurs, dessinateurs et nos collaborateurs.</p>
<p>Et on a aussi des gentilles banques et des gentils investisseurs qui croient en nous et qui nous soutiennent, ce qui est très chouette.</p>
<p></p>
<span class="anchor" id="cest_qui"></span>
<h2>MommyVille c'est qui ?</h2>
<p></p>
<p>Il y a deux personnes clés qui se cachent derrière MommyVille : Carole et François.</p>
<a class="fancybox left" rel="group" href="{{ asset('/img/photos/Photo-Carole-400x600.png') }}" title="Carole, c'est une prof de fac reconvertie par hasard en chef d'entreprise pour MommyVille, qu'elle crée en pensant à sa sœur, maman de deux minies de 6 et 4 ans. Elle s'occupe de toute la création de MommyVille et de tous les trucs compliqués qui ont à voir avec les maths (finance, compta, payer le livreur de pizza, etc...). En vrac, dans les choses qu'elle aime il y a les poneys, les chaussures avec des grands talons, les jolies robes, le yoga, son chien Byron, les livres (oui !! Vive les livres) et bien sûr sa super famille."><img style="margin-right: 15px;" src="{{ asset('/img/photos/Photo-Carole-200x200.png') }}" width=200 height=200 alt="Carole" /></a><p><br/>Carole, c'est une prof de fac reconvertie par hasard en chef d'entreprise pour MommyVille, qu'elle crée en pensant à sa sœur, maman de deux minies de 6 et 4 ans. Elle s'occupe de toute la création de MommyVille et de tous les trucs compliqués qui ont à voir avec les maths (finance, compta, payer le livreur de pizza, etc...). En vrac, dans les choses qu'elle aime il y a les poneys, les chaussures avec des grands talons, les jolies robes, le yoga, son chien Byron, les livres (oui !! Vive les livres) et bien sûr sa super famille.</p>
<p><br/><br/><br/><br/><br/><br/>Vous voulez lui parler ? C'est ici : <a href="https://twitter.com/CaroleJuge"><img src="{{ asset('/img/icones/twitter-25x20.png') }}" alt="@CaroleJuge" /></a> <a href="https://www.facebook.com/carolejuge.prof"><img src="{{ asset('/img/icones/fb-20x20.png') }}" alt="CaroleJugeProf (FB)" /></a> <a href="moailto:carole@mommyville.fr"><img src="{{ asset('/img/icones/mv-enveloppe-gris-29x20.png') }}" alt="carole@mommyville.fr" /></a><br/><br/></p> 
<p></p>
<a class="fancybox left" rel="group" href="{{ asset('/img/photos/Photo-Francois-400x600.png') }}" title="François, c'est un développeur et un architecte systèmes&réseaux (hein ? quoi ?). En gros, c'est le patron de tout ce qui est informatique et technique chez MommyVille (aussi connu sous le nom de CTO ou de geek en chef). C'est le seul garçon à avoir un profil MommyVille, et ça, c'est super la classe. En vrac des choses qu'il aime, il y a son zoo animalier personnel, les maraudes, faire des barbecues dans sa maison avec ses amis, et sa nouvelle femme. Bon, par contre ce qui passe par dessus tout, ca reste d'être un bon vivant, adorant se goinfrer. Ah oui ! C'est un râleur de première."><img style="margin-right: 15px;" src="{{ asset('/img/photos/Photo-Francois-200x200.png') }}" width=200 height=200 alt="Francois" /></a><p><br/>François, c'est un développeur et un architecte systèmes&réseaux (hein ? quoi ?). En gros, c'est le patron de tout ce qui est informatique et technique chez MommyVille (aussi connu sous le nom de CTO ou de geek en chef). C'est le seul garçon à avoir un profil MommyVille, et ça, c'est super la classe. En vrac des choses qu'il aime, il y a son zoo animalier personnel, les maraudes, faire des barbecues dans sa maison avec ses amis, et sa nouvelle femme. Bon, par contre ce qui passe par dessus tout, ca reste d'être un bon vivant, adorant se goinfrer. Ah oui ! C'est un râleur de première.</p>
<p><br/><br/><br/><br/><br/><br/>Vous voulez lui parler ? C'est ici : <a href="https://twitter.com/faichelbaum"><img src="{{ asset('/img/icones/twitter-25x20.png') }}" alt="@faichelbaum" /></a> <a href="moailto:francois@mommyville.fr"><img src="{{ asset('/img/icones/mv-enveloppe-gris-29x20.png') }}" alt="francois@mommyville.fr" /></a><br/><br/></p> 
<p></p>
<p>Après, on a aussi des chouettes collaborateurs grâce à qui le site est tout beau :</p>
<p></p>
<a class="fancybox left" rel="group" href="{{ asset('/img/photos/Photo-Elephant-600x600.png') }}" title="Nicolas, à travers sa société Elephant Graphics, est notre graphique. Reclus dans sa montagne à Annecy, sa disponibilité et créativité fait le régal de nos navigateurs internet."><img style="margin-right: 15px;" src="{{ asset('/img/photos/Photo-Elephant-200x200.png') }}" width=200 height=200 alt="Nicolas" /></a><p><br/>Nicolas, à travers sa société Elephant Graphics, est notre graphique. Reclus dans sa montagne à Annecy, sa disponibilité et créativité fait le régal de nos navigateurs internet.</p>
<p><br/><br/><br/><br/><br/><br/><br/><br/>Vous voulez lui parler ? C'est ici : <a href="https://www.facebook.com/designedbyelephantgraphics"><img src="{{ asset('/img/icones/fb-20x20.png') }}" alt="designedbyelephantgraphics" /></a><br/><br/></p> 
<p></p>
<a class="fancybox left" rel="group" href="{{ asset('/img/photos/Photo-Morgan-384x600.png') }}" title="Morgan est la dessinatrice qui éblouie nos mirettes avec ses dessins rafraichissant."><img style="margin-right: 15px;" src="{{ asset('/img/photos/Photo-Morgan-200x200.png') }}" width=200 height=200 alt="Morgan" /></a><p><br/>Morgan est la dessinatrice qui éblouie nos mirettes avec ses dessins rafraichissant.</p>
<p><br/><br/><br/><br/><br/><br/><br/><br/>Vous voulez lui parler ? C'est ici : <a href="https://www.facebook.com/lapoupeemorgane"><img src="{{ asset('/img/icones/fb-20x20.png') }}" alt="lapoupeemorgane" /></a><br/><br/></p> 
<p></p>
<p>Claire, Marie#1, Marie#2, Kiki<br/>
Nos mamans tests en chef !</p>
<p></p>
<span class="anchor" id="recrute"></span>
<h2>On recrute ?</h2>
<p></p>
<p>Bien sûr!</p>
<p>MommyVille a toujours envie d'agrandir sa super famille. Chez MommyVille, on aime surtout les gens bienveillants, sympas, dynamiques et qui ont envie d'avoir un job qu'ils aiment où ils se donnent à fond. Et on encourage les femmes enceintes et les jeunes mamans à postuler car chez MommyVille, on aime les mamans (sans blague :D)</p>
<p>Vous trouverez <a href="#">ici</a> les offres d'emploi MommyVille.</p>
<p></p>
<span class="anchor" id="questions"></span>
<h2>D'autres questions ?</h2>
<p></p>
<p>On ne peut pas penser à tout, donc si vous avez une question à nous poser ou si juste vous voulez nous dire que vous aimez trop MommyVille et que vous êtes super heureuse ou si vous voulez nous dire qu'il y a un truc qui manque et que c'est super dommage, dites le nous. On adore vous écouter et avoir vos suggestions. Donc hop, un mail à <a href="mailto:faq@mommyville.fr">faq@mommyville.fr</a></p>
<p></p>
</div>
</div>
</div>