<div class='block'>
	<div class='content' id='profil'>
		<form name="profil" method="post" action="" enctype="multipart/form-data">
		<table>
			<tr>
				<td rowspan='6'>
					{% if profil.photo|length > 0 %}
					<div style='background-image:url({{ profil.photo }})' class='upload' id='photo'>
					{% else %}
					<div style='background-image:url(/img/logos/mv-landeau-1000x1077.jpg)' class='upload' id='photo'>
					{% endif %}
					</div>
				</td>
				<th>Prénom</th>
				<td>
					{{ form_widget(form.firstname) }}
				</td>
			</tr>
			<tr>
				<th>Nom<br/><span class='hint'>Seule la première lettre de votre nom apparaîtra</span></th>
				<td>
					{{ form_widget(form.lastname) }}
				</td>
			</tr>
			<tr>
				<th>E-mail</th>
				<td>
					{{ form_widget(form.email) }}
				</td>
			</tr>
			<tr>
				<th>Votre photo</th>
				<td>
					{{ form_widget(form.photo) }}
				</td>
			</tr>
			<tr>
				<th>Votre description</th>
				<td>
					{{ form_widget(form.description) }}
				</td>
			</tr>
			<tr>
				<th>Votre adresse</th>
				<td>
					{{ form_widget(form.address) }}<br/>
					<span class='hint'>Cette information n'est communiqué à personne. Elle nous est strictement utile que pour vous offrir le service de géolocalisation.</span>
				</td>
			</tr>
			<tr>
				<th></th>
				<td></td>
				<td>
					<input type='submit' class='btn-style right' value='Sauver les changements' />
				</td>
			</tr>
		</table>
		{{ form_rest(form) }}
		</form>
	</div>
</div>
{% if manege is defined %}
<div class='block'>
	<div id='profil-manege' class='carousel'>
		<div class="indicator"></div>
		<div class="wrap">
			<ul>
				{% for image in manege %}
				<li><a href='{{ image.url }}' class='fancybox' rel="group" title="{{ image.desc }}"><img src='{{ image.url }}' class='vignette' /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
<script>
function previewPhoto(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function (e) {
			$('#photo').css("background-image", "url("+e.target.result+")");
		}
		reader.readAsDataURL(input.files[0]);
	}
}

$("#profil_photo").change(function(){
	previewPhoto(this);
});

initGeoComplete('#profil_address',null);
$('#profil > form').submit(function(event) {
	event.preventDefault();
	$("#loading").show();
	$.ajax({
		url: '/profil/editer',
		data: new FormData( this ),
		type: 'POST',
		processData: false,
		contentType: false
	})
	.done(function (data) {
		$("#center").empty().append(data).fadeIn('slow');
		$("#loading").hide();
	})
	.fail(function (xhr, status, error) {
console.log(xhr.responseText);
		validationDialog(xhr.responseText, '');
		$("#loading").hide();
	});
});
</script>