<h2>Être maman</h2>
<table class='small-block'>
	<tbody id='step1'>
		<tr>
			<th class='left'>Mon allaitement</th>
			<td>{{ form_widget(form.breastfed) }}</td>
			<td class='form_error'>{{ form_errors(form.breastfed|raw) }}</td>
		</tr>
		<tr id='breast'>
			<th class='left'>Combien de temps ?</th>
			<td>{{ form_widget(form.during) }}</td>
			<td class='form_error'>{{ form_errors(form.during) }}</td>
		</tr>
		<tr>
			<th class='left'>J'ai fait un baby blues ?</th>
			<td>
				<ol id='blues' class='selectable'>
					<li class='ui-widget-content' id='oui'>Oui</li>
					<li class='ui-widget-content' id='non'>Non</li>
				</ol>
				{{ form_widget(form.blues) }}
			</td>
			<td class='form_error'>{{ form_errors(form.blues) }}</td>
		</tr>
		<tr>
			<th class='left'>J'ai retrouvé mon poids d'avant la grossesse ?</th>
			<td>
				<ol id='weight' class='selectable'>
					<li class='ui-widget-content' id='oui'>Oui</li>
					<li class='ui-widget-content' id='non'>Non</li>
				</ol>
				{{ form_widget(form.weight) }}
			</td>
			<td class='form_error'>{{ form_errors(form.weight) }}</td>
		</tr>
		<tr id='time' class='hidden'>
			<th class='left'>Ca m'a pris combien de temps ?</th>
			<td>{{ form_widget(form.weight_time) }}</td>
			<td class='form_error'>{{ form_errors(form.weight_time) }}</td>
		</tr>
		<tr><td colspan='3' style='text-align:right;'><input type='button' class='btn-style right' id='b_step1' value='Suivant >' /></td></tr>
	</tbody>
	<tbody id='step2' class='hidden'>
		<tr>
			<th class='left'>Après la naissance ...<br/><span class='hint'>Votre réponse n'est pas proposée ? Saisissez la directement</span></th>
			<td>{{ form_widget(form.after) }}</td>
			<td class='form_error'>{{ form_errors(form.after) }}</td>
		</tr>
{% if form.between is defined %}
		<tr>
			<th class='left'>Combien de temps s'est-il écoulé entre la naissance de mon dernier et ma grossesse ?</th>
			<td>{{ form_widget(form.between) }}</td>
			<td class='form_error'>{{ form_errors(form.between) }}</td>
		</tr>
{% endif %}
	</tbody>
	<tfoot class='hidden'>
		<tr><th align='left'></th><td align='right'><br/>{{ form_rest(form) }}<input type='submit' class='btn-style right' id='next' value='Suivant >' /></td></tr>
	</tfoot>
</table>
<script>
$("#b_step1").click(function () {
	$("#step1").hide(0);
	$("#step2").show(0);
	$("#registration tfoot").show(0);
});

$('#maman_breastfed').select2({
    minimumResultsForSearch: -1,
}).on('change', function(e) {
    if (typeof e.added != "undefined") {
        if (e.added.id == 'breastfed-sein')
            $("#breast").show();
    }
    if (typeof e.removed != "undefined") {
        if (e.removed.id == 'breastfed-sein')
            $("#breast").hide();
    }
});

$(".selectable").selectable({
    selected: function (event, ui) {
        $("input#maman_"+ui.selected.parentNode.id).val(ui.selected.id);
        if (ui.selected.parentNode.id == 'weight') {
            if (ui.selected.id == 'oui')
                $("#time").show();
            else
                $("#time").hide();
        }
    }
});

function format(item) { 
    return item.text+' mois'; 
}

$('#maman_during').select2({
    minimumResultsForSearch: -1,
});

$('#maman_weight_time').select2({
    minimumResultsForSearch: -1,
    formatResult: format,
    formatSelection: format,
});

var after = [];
{% for key, after in choices.after %}
text = "{{ after|e }}"; text = text.replace(/&quot;/gi, "\"").replace(/&#039;/gi, "'");
after.push({ id: "{{ key }}", text: value });
{% endfor %}
$("#maman_after").select2({
	data: after,
	minimumInputLength: 0,
	width: 'element',
	createSearchChoice : createNewSelectItem, 
});

if ($('#maman_between').val()) {
    $('#maman_between').select2({
        minimumResultsForSearch: -1,
    });
}

$(":input").prop('required',null);
</script>