<h2>Je suis bientôt enceinte</h2>
<table class='small-block'>
	<tbody id='step1'>
		<tr>
			<th class='left'>J'essaye de faire un bébé depuis quand ?</th>
			<td>{{ form_widget(form.since) }}</td>
			<td class='form_error'>{{ form_errors(form.since) }}</td>
		</tr>
		<tr>
			<th class='left'>Pour tomber enceinte</th>
			<td>{{ form_widget(form.way) }}</td>
			<td class='form_error'>{{ form_errors(form.way) }}</td>
		</tr>
		<tr>
			<th class='left'>Ca se passe ... ?</th>
			<td>{{ form_widget(form.so) }}</td>
			<td class='form_error'>{{ form_errors(form.so) }}</td>
		</tr>
		<tr><td colspan='3' style='text-align:right;'><br/><input type='button' class='btn-style right' id='b_step1' value='Suivant >' /></td></tr>
	</tbody>
	<tbody id='step2' class='hidden'>
		<tr>
			<th class='left'>Le papa, il en dit quoi ?</th>
			<td>{{ form_widget(form.dad) }}</td>
			<td class='form_error'>{{ form_errors(form.dad) }}</td>
		</tr>
		<tr>
			<th class='left'>Et moi, je suis comment ?</th>
			<td>{{ form_widget(form.mood) }}</td>
			<td class='form_error'>{{ form_errors(form.mood) }}</td>
		</tr>
		<tr><td colspan='3' style='text-align:right;'><br/><input type='button' class='btn-style right' id='b_step2' value='Suivant >' /></td></tr>
	</tbody>
	<tbody id='step3' class='hidden'>
		<tr>
			<th class='left'>Je voudrais bien ...</th>
			<td>{{ form_widget(form.hope) }}</td>
			<td class='form_error'>{{ form_errors(form.hope) }}</td>
		</tr>
		<tr>
			<th class='left'>Ce serait mon premier</th>
			<td>
				<ol id='prems' class='selectable'>
					<li class='ui-widget-content' id='oui'>Oui</li>
					<li class='ui-widget-content' id='non'>Non</li>
				</ol>
				{{ form_widget(form.prems) }}
			</td>
			<td class='form_error'>{{ form_errors(form.prems) }}</td>
	</tbody>
	<tfoot class='hidden'>
		<tr><th align='left'></th><td align='right'><br/>{{ form_rest(form) }}<input type='submit' class='btn-style right' id='next' value='Suivant >' /></td></tr>
	</tfoot>
</table>
<script>
$("#b_step1").click(function () {
	$("#step1").hide(0);
	$("#step2").show(0);
});

$("#b_step2").click(function () {
	$("#step1").hide(0);
	$("#step2").hide(0);
	$("#step3").show(0);
	$("#registration tfoot").show(0);
});

$("#presquenceinte_way").select2({
	minimumResultsForSearch: -1,
});

$("#presquenceinte_so").select2({
	minimumResultsForSearch: -1,
});

$("#presquenceinte_dad").select2({
	minimumResultsForSearch: -1,
});

$("#presquenceinte_mood").select2({
	minimumResultsForSearch: -1,
});

$("#presquenceinte_hope").select2({
	minimumResultsForSearch: -1,
});

if ($("#projet_prems").val())
	$("#"+$("#projet_prems").val()).addClass("ui-selected");

$(".selectable").selectable({
	selected: function (event, ui) {
		$("input#enceinte_"+ui.selected.parentNode.id).val(ui.selected.id);
	}
});

$(":input").prop('required',null);
</script>